Workshop 1 - Introduktion til IIOT Kommunikation i Node-RED/Øvelser/Underviser/Øvelse 2 Modbus.json
[
  {
    "id": "z1y2x3w4v5u6t7s8",
    "type": "tab",
    "label": "Øvelse 2 Modbus",
    "disabled": false,
    "info": "Flow til øvelse 2: Modbus TCP read, timestamp, watchdog"
  },
  {
    "id": "modbusClient1",
    "type": "modbus-client",
    "name": "Local ModbusSim",
    "clienttype": "tcp",
    "bufferCommands": true,
    "stateLogEnabled": false,
    "tcpHost": "127.0.0.1",
    "tcpPort": "502",
    "unit_id": 1,
    "tcpType": "DEFAULT",
    "reconnectOnTimeout": true,
    "timeout": 1000,
    "reconnectTimeout": 2000,
    "parallelUnitIdsAllowed": true
  },
  {
    "id": "readHR0",
    "type": "modbus-read",
    "z": "z1y2x3w4v5u6t7s8",
    "name": "Read Holding Reg 0",
    "topic": "holding_register_0",
    "showStatusActivities": true,
    "showErrors": true,
    "unitid": "1",
    "dataType": "HoldingRegister",
    "adr": "0",
    "quantity": "1",
    "rate": "5",
    "rateUnit": "s",
    "delayOnStart": false,
    "startDelayTime": "",
    "server": "modbusClient1",
    "useIOFile": false,
    "ioFile": "",
    "useIOForPayload": false,
    "emptyMsgOnFail": true,
    "keepMsgProperties": false,
    "x": 160,
    "y": 80,
    "wires": [["formatTimestamp"],[]]
  },
  {
    "id": "formatTimestamp",
    "type": "function",
    "z": "z1y2x3w4v5u6t7s8",
    "name": "Format data med timestamp",
    "func": "msg.payload = {\n    vaerdi: msg.payload.data[0],\n    timestamp: new Date().toISOString()\n};\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 430,
    "y": 80,
    "wires": [["debugReg"]]
  },
  {
    "id": "debugReg",
    "type": "debug",
    "z": "z1y2x3w4v5u6t7s8",
    "name": "Register debug",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "statusVal": "",
    "statusType": "auto",
    "x": 670,
    "y": 80,
    "wires": []
  },
  {
    "id": "triggerWatchdog",
    "type": "trigger",
    "z": "z1y2x3w4v5u6t7s8",
    "name": "Watchdog 10 s",
    "op1": "",
    "op1type": "nul",
    "op2": "{\"error\":\"Modbus data timeout\"}",
    "op2type": "json",
    "duration": "10",
    "extend": true,
    "units": "s",
    "reset": "",
    "bytopic": "all",
    "topic": "holding_register_0",
    "outputs": 1,
    "x": 440,
    "y": 160,
    "wires": [["debugWD"]]
  },
  {
    "id": "debugWD",
    "type": "debug",
    "z": "z1y2x3w4v5u6t7s8",
    "name": "Watchdog alarm",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": true,
    "complete": "payload",
    "statusVal": "",
    "statusType": "auto",
    "x": 670,
    "y": 160,
    "wires": []
  }
]
