Workshop 1 - Introduktion til IIOT Kommunikation i Node-RED/Øvelser/Underviser/Øvelse 1 MQTT.json
[
  {
    "id": "a1b2c3d4e5f6a7b8",
    "type": "tab",
    "label": "Øvelse 1 MQTT",
    "disabled": false,
    "info": "Flow til øvelse 1: publish/subscribe, timestamp, heartbeat/watchdog"
  },
  {
    "id": "f1e2d3c4b5a69788",
    "type": "inject",
    "z": "a1b2c3d4e5f6a7b8",
    "name": "Sim temp 25 °C",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "5",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "25",
    "payloadType": "str",
    "x": 140,
    "y": 60,
    "wires": [["c1d2e3f4a5b6c7d8"]]
  },
  {
    "id": "c1d2e3f4a5b6c7d8",
    "type": "function",
    "z": "a1b2c3d4e5f6a7b8",
    "name": "Tilføj timestamp",
    "func": "msg.payload = {\n    temperatur: Number(msg.payload),\n    timestamp: new Date().toISOString()\n};\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 350,
    "y": 60,
    "wires": [["a123b456c789d012"]]
  },
  {
    "id": "a123b456c789d012",
    "type": "mqtt out",
    "z": "a1b2c3d4e5f6a7b8",
    "name": "Publish temperatur",
    "topic": "sensor/temperatur",
    "qos": "0",
    "retain": "",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "c901d234e567f890",
    "x": 560,
    "y": 60,
    "wires": []
  },
  {
    "id": "b234c567d890e123",
    "type": "mqtt in",
    "z": "a1b2c3d4e5f6a7b8",
    "name": "Subscribe temperatur",
    "topic": "sensor/temperatur",
    "qos": "0",
    "datatype": "auto-detect",
    "broker": "c901d234e567f890",
    "nl": false,
    "rap": false,
    "rh": 0,
    "inputs": 0,
    "x": 150,
    "y": 140,
    "wires": [["c345d678e901f234"]]
  },
  {
    "id": "c345d678e901f234",
    "type": "debug",
    "z": "a1b2c3d4e5f6a7b8",
    "name": "Temperatur debug",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "statusVal": "",
    "statusType": "auto",
    "x": 380,
    "y": 140,
    "wires": []
  },
  {
    "id": "d456e789f012a345",
    "type": "inject",
    "z": "a1b2c3d4e5f6a7b8",
    "name": "Heartbeat alive",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "10",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "sensor/heartbeat",
    "payload": "alive",
    "payloadType": "str",
    "x": 140,
    "y": 220,
    "wires": [["e567f890a123b456"]]
  },
  {
    "id": "e567f890a123b456",
    "type": "mqtt out",
    "z": "a1b2c3d4e5f6a7b8",
    "name": "Publish heartbeat",
    "topic": "sensor/heartbeat",
    "qos": "0",
    "retain": "",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "c901d234e567f890",
    "x": 380,
    "y": 220,
    "wires": []
  },
  {
    "id": "f678a901b234c567",
    "type": "mqtt in",
    "z": "a1b2c3d4e5f6a7b8",
    "name": "Sub heartbeat",
    "topic": "sensor/heartbeat",
    "qos": "0",
    "datatype": "auto-detect",
    "broker": "c901d234e567f890",
    "nl": false,
    "rap": false,
    "rh": 0,
    "inputs": 0,
    "x": 150,
    "y": 300,
    "wires": [["a789b012c345d678"]]
  },
  {
    "id": "a789b012c345d678",
    "type": "trigger",
    "z": "a1b2c3d4e5f6a7b8",
    "name": "Watchdog 15 s",
    "op1": "",
    "op1type": "nul",
    "op2": "{\"error\":\"Heartbeat missing\"}",
    "op2type": "json",
    "duration": "15",
    "extend": true,
    "overrideDelay": false,
    "units": "s",
    "reset": "",
    "bytopic": "all",
    "topic": "sensor/heartbeat",
    "outputs": 1,
    "x": 380,
    "y": 300,
    "wires": [["b890c123d456e789"]]
  },
  {
    "id": "b890c123d456e789",
    "type": "debug",
    "z": "a1b2c3d4e5f6a7b8",
    "name": "Heartbeat alarm",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": true,
    "complete": "payload",
    "statusVal": "",
    "statusType": "auto",
    "x": 600,
    "y": 300,
    "wires": []
  },
  {
    "id": "c901d234e567f890",
    "type": "mqtt-broker",
    "name": "Local Mosquitto",
    "broker": "localhost",
    "port": "1883",
    "clientid": "",
    "autoConnect": true,
    "usetls": false,
    "compatmode": false,
    "protocolVersion": "4",
    "keepalive": "60",
    "cleansession": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthPayload": "",
    "closeTopic": "",
    "closeQos": "0",
    "closePayload": "",
    "willTopic": "",
    "willQos": "0",
    "willPayload": "",
    "sessionExpiry": ""
  }
]
